body{
	-webkit-user-select: none;
	background-color: #000000;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#feedback {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background-color: rgba(0, 0, 0, .25);
	padding-top: 30px;
	color: white;
	font-family: sans-serif;
	text-align: center;
}